<main class="main">
  <div class="slider-container" id="block-slider">
    <div class="slider-left">
      <h2 class="slider-title">{{how_to_help}}</h2>

      <div class="arrows-slider">
        <div class="current-slide">
          <span class="current-slide-number">01</span>
          <span class="current-slide-separator">/</span>
          <span class="current-slide-total">07</span>
        </div>
        <div class="slider_btns">
          <button class="prev-button">
            {{! <div class="icons-container"> }}
            <img
              class="default-icon-prev"
              src="./assets/img/arrow_slider_left_not_active.svg"
              alt=""
            />
            <img
              class="hover-icon-prev"
              src="./assets/img/arrow_left_hover.svg"
              alt=""
            />
            <img
              class="active-icon-prev"
              src="./assets/img/arrow_left_active.svg"
              alt=""
            />
            {{! </div> }}
          </button>
          <button class="next-button">
            <img
              class="default-icon"
              src="./assets/img/arrow_slider_right_active.svg"
              alt=""
            />
            <img
              class="hover-icon"
              src="./assets/img/arrow_slider_right_hover.svg"
              alt=""
            />
            <img
              class="inactive-icon"
              src="./assets/img/arrow_slider_right_not_active.svg"
              alt=""
            />
          </button>
        </div>
      </div>
    </div>
    <div class="slider">
      <div class="slider-wrapper">
        <div class="invisible"></div>
        <div class="slide slide1">
          <h2 class="slide-title">
            {{market_research}}
          </h2>
          <p class="slide-text">
            {{instruments}}
          </p>
          <ul class="slide-list">
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{market_analysis}}
              </li>
            </div>

            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">{{competitors}}</li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">{{target_audience}}</li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{uvp}}
              </li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{market_research_item}}
              </li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{legal_support}}
              </li>
            </div>
          </ul>
        </div>

        <div class="slide slide2 hidden">
          <h2 class="slide-title">{{recruiting}}</h2>
          <p class="slide-text">
            {{recruiting_text}}
          </p>
          <ul class="slide-list">
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{candidates}}
              </li>
            </div>

            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{multichannel_search}}
              </li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{interviews}}
              </li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">{{training}} </li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{reprofiling}}
              </li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{project_teams}}
              </li>
            </div>
          </ul>
        </div>

        <div class="slide slide3 hidden">
          <h2 class="slide-title">{{design}}</h2>
          <p class="slide-text">
            {{style}}
          </p>
          <ul class="slide-list">
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">{{web}}</li>
            </div>

            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">{{concept_creation}}</li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">{{marketing_materials}}</li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">{{branding}}</li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">{{game_design}}</li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{infographics}}
              </li>
            </div>
          </ul>
        </div>

        <div class="slide slide4 hidden">
          <h2 class="slide-title">{{partners_marketing}}</h2>
          <p class="slide-text">
            {{partnership}}
          </p>
          <ul class="slide-list">
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">{{content_partnership}}</li>
            </div>

            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">{{cross}}</li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">{{cpa}}</li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">{{affiliate}}</li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">{{outreach}}</li>
            </div>
          </ul>
        </div>

        <div class="slide slide5 hidden">
          <h2 class="slide-title">{{influence_marketing}}</h2>
          <p class="slide-text">
            {{IGaming}}
          </p>
          <p class="slide-text">
            {{blogger}}
          </p>
        </div>

        <div class="slide slide6 hidden">
          <h2 class="slide-title">{{context_advertising}}</h2>
          <p class="slide-text">
            {{set_up}}
          </p>
          <ul class="slide-list">
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{keywords_research}}
              </li>
            </div>

            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{monitoring}}
              </li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{user_flow}}
              </li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{ad_types}}
              </li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{approach}}
              </li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{hypotheses}}
              </li>
            </div>
          </ul>
        </div>

        <div class="slide slide7 hidden">
          <h2 class="slide-title">{{SERM}}</h2>
          <p class="slide-text">
            {{web_awareness}}
          </p>
          <ul class="slide-list">
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{positions_analysis}}
              </li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{comparison}}
              </li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{strategy}}
              </li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{strengths_weaknesses}}
              </li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{reviews}}
              </li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{irrelevant_reviews}}
              </li>
            </div>
            <div class="slide-list-box">
              <img src="./assets/img/Vector_tick1.svg" alt="" />
              <li class="slide-list-box-li">
                {{reputation_dynamics}}
              </li>
            </div>
          </ul>
        </div>

        <div class="slider-lines-container">
          <div class="slider-lines">
            <div class="slider-line-small"></div>
            <div class="slider-line-long"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block-about">
    <div class="about-container">
      <h2 class="block-about-title">{{about}}</h2>
      <div class="block-about-right">
        <div class="block-about-right-text-block">
          <p>
            {{IGaming_title}}
            <br />
            {{B2B_marketplace}}
          </p>
          <p>
            {{build_team}}
          </p>
        </div>
        <div class="mission">
          <h2 class="mission-title">
            {{our_mission}}
            <img src="./assets/img/icon_tick.svg" alt="" />
          </h2>

          <p class="mission-title-text">
            {{eliminate_barriers}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="block-process">
    <div class="item-white">
      <h2 class="block-process-title">{{work_process}}</h2>
    </div>
    <div class="item item-colored">
      <p class="number">
        01
        <img src="./assets/img/icon_Award.svg" alt="" />
      </p>
      <p class="item-colored-about box1">
        {{goals_and_timeline}}
      </p>
    </div>
    <div class="item item-colored item02">
      <p class="number">
        02
        <img src="./assets/img/icon_Profile_Accepted.svg" alt="" />
      </p>
      <p class="item-colored-about box2">
        {{project_manager}}
      </p>
    </div>
    <div class="item item-colored item03">
      <p class="number">
        03
        <img src="./assets/img/icon_Group3.svg" alt="" />
      </p>
      <p class="item-colored-about box3">{{professional_team}}</p>
    </div>
    <div class="item item-colored item04">
      <p class="number">
        04
        <img src="./assets/img/icon_Calender.svg" alt="" />
      </p>
      <p class="item-colored-about box4">
        {{planning_phase}}
      </p>
    </div>
    <div class="item item-colored item03">
      <p class="number">
        05
        <img src="./assets/img/icon_Shield_Plus.svg" alt="" />
      </p>
      <p class="item-colored-about box5">{{manage_execution}} </p>
    </div>
    <div class="item item-colored item04">
      <p class="number">
        06
        <img src="./assets/img/icon_Setting.svg" alt="" />
      </p>
      <p class="item-colored-about box6">
        {{post_release}}
      </p>
    </div>
    <div class="item item-colored item01">
      <p class="number">
        07
        <img src="./assets/img/icon_Message.svg" alt="" />
      </p>
      <p class="item-colored-about box7">
        {{marketing_support}}
      </p>
    </div>
    <div>
      <h3 class="work-title">
        {{consultation}}
      </h3>
      <p class="work-title-text">
        {{discuss_goals}}
      </p>
      <button type="button" class="blue-btn" onClick="popupShow()">
        {{send_request}}
      </button>
    </div>
  </div>

  <div class="block-project" id="block-project">
    <div class="block-project-background">
      <div class="block-project-container">
        <div class="block-project-items">
          <h2 class="block-project-title">
            {{find_project}}
          </h2>
          <div>
            <div class="block-project-card">
              <div class="block-project-card-header">
                <button class="block-project-card-btn">{{projects}}</button>
                <img src="./assets/img/icon_Document_Add.svg" alt="" />
              </div>
              <p class="block-project-card-text">
                {{become_part}}
              </p>
              <p class="block-project-card-text">
                {{decision}}
              </p>
              <button class="block-project-card-find-btn" onClick="popupShow()">
                {{find_project_btn}}
                <img src="./assets/img/arrow_up_right.svg" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="block-project-card">
        <div class="block-project-card-header">
          <button class="block-project-card-btn">{{team}}</button>
          <img src="./assets/img/icon_Profile_Add.svg" alt="" />
        </div>
        <p class="block-project-card-text">
          {{find_people}}
        </p>
        <p class="block-project-card-text">
          {{implement}}
        </p>
        <button class="block-project-card-find-btn" onClick="popupShow()">
          {{find_team}}
          <img src="./assets/img/arrow_up_right.svg" alt="" />
        </button>
      </div>
    </div>
  </div>

  <div class="block-specialists">
    <h2 class="block-specialists-title">
      {{community_title}}
    </h2>
    <div class="block-specialists-card">
      <div class="block-specialists-card-grid">
        <div class="item">
          <p class="p1">{{find_partners_friends}}</p>
          <img src="./assets/img/icon_Group2.svg" alt="" />
        </div>
        <div class="item">
          <p class="p1">{{earn_money}}</p>
          <img src="./assets/img/icon_Wallet.svg" alt="" />
        </div>
        <div class="item">
          <p>{{higher_profit}}</p>
          <img src="./assets/img/icon_Dollar.svg" alt="" />
        </div>
        <div class="item">
          <p class="p2">{{provide_assistance}}</p>
          <img src="./assets/img/icon_Message2.svg" alt="" />
        </div>
        <div class="item">
          <p class="p3">{{network}}</p>
          <img src="./assets/img/icon_Like.svg" alt="" />
        </div>
      </div>
      <div>
        <h3>
          {{community}}
        </h3>
        <div class="community-block">
          <div>
            <h4>{{gambling_club}}</h4>
            <p class="community-block-text">
              {{private_club}}
            </p>
          </div>
          <button
            type="button"
            class="community-block-btn"
            onClick="popupShow()"
          >
            {{learn_more}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="block-education">
    <h2 class="block-education-title">{{educational_center}}</h2>
    <div>
      <div class="block-education-upper">
        <p class="block-education-upper-text">
          {{welcome}}
        </p>
        <p class="block-education-upper-text">
          {{believe_in_success}}
        </p>
      </div>
      <div class="block-education-lower">
        <button class="block-education-btn" onClick="popupShow()">
          {{learn_more}}
        </button>
        <div class="block-education-lower-card">
          <ul>
            <div class="block-education-list">
              <img src="./assets/img/Vector_arrow1.svg" alt="" />
              <li>{{become_professional}}</li>
            </div>
            <div class="block-education-list">
              <img src="./assets/img/Vector_arrow1.svg" alt="" />
              <li>{{broaden_expertise}}</li>
            </div>
            <div class="block-education-list">
              <img src="./assets/img/Vector_arrow1.svg" alt="" />
              <li>{{skills}}</li>
            </div>
            <div class="block-education-list">
              <img src="./assets/img/Vector_arrow1.svg" alt="" />
              <li>{{follow_passion}}</li>
            </div>
            <div class="block-education-list">
              <img src="./assets/img/Vector_arrow1.svg" alt="" />
              <li>{{change_job}}</li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="block-contacts">
    <h3 class="block-contacts-title">{{contacts}}</h3>
    <div>
      <div class="contacts-info">
        <p class="contacts-info-text">
          {{contacts_info_text}}
        </p>
        <div class="block-social">
          <div class="region-social-links">
            <p class="region-name">{{Georgia}}:</p>
            <div class="social-links">
              <a href="whatsapp://send?phone=+995558791268">
                <img
                  class="social-links-icon"
                  src="./assets/img/WA.svg"
                  alt="whatsapp-icon"
                />
              </a>
              <a href="tg://resolve?domain=infoimans">
                <img
                  class="social-links-icon"
                  src="./assets/img/TG.svg"
                  alt="telegram-icon"
                />
              </a>
              <a class="email-link" href="mailto:info@imans.io">
                <img
                  class="social-links-icon icon-email"
                  src="./assets/img/Mail.svg"
                  alt="Email"
                />
              </a>
            </div>
          </div>
          <div class="region-social-links">
            <p class="region-name">{{Kenya}}:</p>
            <div class="social-links">
              <a href="whatsapp://send?phone=+995558791268">
                <img
                  class="social-links-icon"
                  src="./assets/img/WA.svg"
                  alt="whatsapp-icon"
                />
              </a>
              <a href="tg://resolve?domain=infoimans">
                <img
                  class="social-links-icon"
                  src="./assets/img/TG.svg"
                  alt="telegram-icon"
                />
              </a>
              <a class="email-link" href="mailto:info@imans.io">
                <img
                  class="social-links-icon icon-email"
                  src="./assets/img/Mail.svg"
                  alt="Email"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="partners">
        <h3 class="partners-title">{{partner_support}}</h3>
        <div class="partners-links">
          <div class="partners-links-eclipse">
            <div class="partners-links-items">
              <h3>ECLIPSE CASINO</h3>
              <a
                class="brand-info-title"
                href="https://www.eclipse.casino"
                target="_blank"
              >www.eclipse.casino
              </a>
            </div>

            <div class="partners-links-items">
              <a href="https://www.eclipse.casino" target="_blank">
                <img
                  src="./assets/img/eclipse_logo_casino 1.svg"
                  alt="Eclipse-logo"
                  class="eclipse-logo"
                />
              </a>
              <button type="button" class="partners-links-items-btn">
                {{presentation}}
              </button>
            </div>
          </div>

          <div class="partners-links-items">
            <h3>MOYO CASINO</h3>
            <a
              class="brand-info-title"
              href="https://www.moyo.casino"
              target="_blank"
            >www.moyo.casino
            </a>
          </div>

          <div class="partners-links-items">
            <a href="https://www.moyo.casino" target="_blank">
              <img
                src="./assets/img/moyo_logoblock_casino 1.svg"
                alt="Moyo-logo"
                class="moyo-logo"
              />
            </a>
            <button type="button" class="partners-links-items-btn">
              {{presentation}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>